menuconfig THINGSBOARD
    bool "Thingsboard library"
    depends on COAP
    depends on NET_SOCKETS
    depends on NET_SOCKETS_POSIX_NAMES
    depends on JSON_LIBRARY

if THINGSBOARD

config THINGSBOARD_FOTA
    bool "Thingsboard FOTA support"
    depends on DFU_TARGET_MCUBOOT
    default y if DFU_TARGET_MCUBOOT

config APP_MCUBOOT_FLASH_BUF_SZ
    int "Size of buffer used for flash write operations during MCUboot updates"
    depends on DFU_TARGET_MCUBOOT
    default 4096
    help
      Buffer size must be aligned to the minimal flash write block size.

config COAP_CLIENT_NUM_MSGS
    int "Maximum number of CoAP messages"
    default 10

config COAP_CLIENT_STAT_INTERVAL_SECONDS
    int "Interval in seconds between stat printouts"
    default 30 if LOG
    default 0
    help
      Prints out statistics about resource usage on a regular interval.
      Set to 0 to deactivate.

config COAP_CLIENT_MSG_LEN
    int "Maximum length of CoAP messages"
    default 1280

config COAP_NUM_RETRIES
    int "Number of retries for CoAP messages"
    default 3

config THINGSBOARD_USE_PROVISIONING
    bool "Provision devices"

config THINGSBOARD_PROVISIONING_KEY
    string "Provisioning key"

config THINGSBOARD_PROVISIONING_SECRET
    string "Provisioning secret"

config THINGSBOARD_ACCESS_TOKEN
  string
  prompt "Device Access Token" if !THINGSBOARD_USE_PROVISIONING
  default ""

config THINGSBOARD_FOTA_CHUNK_SIZE
    int "Chunk size for FOTA updates"
    default 1024
    help
       "Must be smaller than COAP_CLIENT_MSG_LEN"

config COAP_SERVER_HOSTNAME
  string "Coap Server hostname"
  default "10.101.45.222"

config COAP_SERVER_PORT
	int "CoAP server port"
	default 5683

endif
